
@{
    ViewBag.Title = "Project";
}

<div class="jumbotron">
    <select>
        <option>Đường</option>
    </select>
    <select>
        <option>Quận</option>
    </select>
    <select>
        <option></option>
    </select>
    <button class="btn btn-info navbar-right">Search</button>
</div>

