
@{
    ViewBag.Title = "Sign_up";
}

<head>
    <title>Log-in</title>
    <style type="text/css">
        .style2 {
            width: 199px;
            height: 50px;
        }

        #Select4 {
            width: 230px;
        }

        #Text7 {
            width: 230px;
        }

        #Text8 {
            width: 230px;
        }

        #Text9 {
            width: 230px;
        }

        #Text10 {
            width: 230px;
        }

        #Text3 {
            width: 230px;
        }

        #Text2 {
            width: 230px;
        }

        #Text1 {
            width: 230px;
        }
    </style>
    <style>
        table {
            background-color: Black;
            color: Yellow
        }

        .style5 {
            height: 40px;
        }

        .style6 {
            height: 50px;
        }
    </style>
</head>
<body>
    <center>
        <table class="table-condensed" style="width:33%;">
            <tr>
                <td colspan="2" style="background-color:Orange; color:Yellow" class="style5">
                    &nbsp;Sign Up
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">

                    First Name
                <td class="style6">
                    <input id="Text1" type="text" placeholder="Enter First Name..." /><br />
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    Last Name
                </td>
                <td class="style6">
                    <input id="Text2" type="text" placeholder="Enter Last Name..." />
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    Screen Name
                </td>
                <td class="style6">
                    <input id="Text3" type="text" placeholder="Enter Screen Name..." />
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    Date of Birth
                </td>
                <td class="style6">
                    <select id="Select1" name="D1">
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp; <select id="Select2" name="D2">
                        <script>
                            for (var i = 1; i <= 31; i++) {
                                document.write("<option>"+i+"</option>");
                            }
                        </script>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp; <select id="Select3" name="D3">
                        <script>
                            var d = new Date();
                            var n = d.getFullYear();
                            for (var i = 1890; i <= n; i++) {
                                document.write("<option>" + i + "</option>");
                            }
                        </script>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    Gender
                </td>
                <td class="style6">
                    <input id="Radio1" name="R" type="radio" value="V1" /> Male <input id="Radio2" name="R" type="radio" value="V1" /> Female
                </td>
            </tr>
            <tr>
                <td class="style2" align="right">
                    Country
                </td>
                <td class="style6">
                    <select id="Select4" name="D4">
                        <option>USA</option>
                        <option>Việt Nam</option>
                        <option>Japan</option>
                        <option>England</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    E-mail
                </td>
                <td class="style6">
                    <input id="Text7" type="text" placeholder="Enter E-mail..." />
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    Phone
                </td>
                <td class="style6">
                    <input id="Text8" type="text" placeholder="Enter Phone..." />
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    Password
                </td>
                <td class="style6">
                    <input id="Text9" type="password" />
                </td>
            </tr>
            <tr>
                <td class="style6" align="right">
                    Confirm Password
                </td>
                <td class="style6">
                    <input id="Text10" type="password" />
                </td>
            </tr>
            <tr>
                <td class="style6"></td>
                <td class="style6">
                    <input id="Checkbox1" type="checkbox" />I agree to the Terms of Use
                </td>
            </tr>
            <tr>
                <td class="style6" align="right" colspan="2" style="background-color:Orange">
                    <button class="btn btn-default" style="background-color:green">@Html.ActionLink("Submit", "Index", "Home")</button>
                    <button class="btn btn-default" style="background-color:red">@Html.ActionLink("Cancle", "Index", "Home")</button>
                </td>
            </tr>
        </table>
    </center>
</body>
